<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Категории</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a th:href="@{/}">Главная</a></li>
            <li><a th:href="@{/showCategory}">Категории</a></li>
            <li><a th:href="@{/showBalance}">Остатки</a></li>
        </ul>
    </nav>
</header>
<h3>Остатки по категориям</h3>
<table>
    <thead>
    <tr>
        <th>Название категории</th>
        <th>Общие расходы</th>
        <th>Лимит расходов</th>
        <th>Остатки</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="row : ${balance}">
        <td th:text="${row.getCategoryName()}"></td>
        <td th:text="${row.getExpenses()}"></td>
        <td th:text="${row.getLimit()}"></td>
        <td th:text="${row.getBalance()}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>