<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Категории</title>
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/table.css">
    <link rel="stylesheet" href="/css/form.css">
</head>
<body>
<header>
    <nav>
        <ul>
            <li><a th:href="@{/}">Главная</a></li>
            <li><a th:href="@{/showCategory}">Категории</a></li>
            <li><a th:href="@{/showBalance}">Остатки</a></li>
        </ul>
    </nav>
</header>
<h2>Добавить категорию</h2>
<form action="#" th:action="@{/createCategory}" method="post">
    <label for="name">Название категории:</label>
    <input type="text" id="name" name="name" required>
    <br>
    <label for="limit">Установить лимит:</label>
    <input type="number" id="limit" name="limit" step="0.01" required>
    <br>
    <button type="submit">Добавить категорию</button>
</form>

<h3>Доступные категории</h3>
<table>
    <thead>
    <tr>
        <th>Название</th>
        <th>Лимит</th>
        <th>Действие</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="category : ${categories}">
        <td th:text="${category.name}"></td>
        <td th:text="${category.limiter}"></td>
        <td>
            <form action="#" th:action="@{/deleteCategory/{id}(id=${category.id})}" method="post" style="display:inline;">
                <button type="submit">Удалить</button>
            </form>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>